body {
    background-color: rgba(185,20,80,255);
}
.titolo {
    color: white;
}

h3{
    font-size: 16px;
    padding: 10px;
}
.riquadro{
    background-color: white;
    color: rgba(185,20,80,255);
    display: inline-block;
    margin: 0 auto;
    width: 80%;
}

.form1{
    border: 1px rgba(185,20,80,255) solid;
    border-radius: 0.3rem;
}

.btn11{
    background-color: rgb(213, 213, 213);
    color: rgba(185,20,80,255);
    border: 2px orange solid;
    border-radius: .4rem;
    font-size: 18px;
    padding: 3px;
}

.cb1{
    border: 1.5px rgba(139,139,139,255) solid;
}
.sezioneblu{
    background-color:white;
    display: inline-block;
    width: 80%;
    color: black;
}
.tabellina{
    position: relative;
    border: 1px solid black;
    border-right: 0;
    margin: 15px;
    color: black;
}

.sfondogrigio{
    background-color: gray;
    color: black;
    padding: 10px;
    font-size: 16px;
    width: fit-content;
    position: relative;
}

#nomepasseggero{
    position: absolute;
    top: 52px;
    left: 27px;
    z-index: 2;
    color: black;
    font-size: 20px;
}

.dettagli{
    position: relative;
    display: inline-block;
    margin-top: 60px
}
.abs {
    position: absolute;
    top: -50px;
    left: 0;
    padding: 20px;
}
td{
    padding:15px 40px;
}